*
!README.md
!tesi.pdf
!sunto.pdf
!slides.pdf

!/tesi
!/tesi/appendice.tex
!/tesi/capitolo1.tex
!/tesi/capitolo2.tex
!/tesi/capitolo3.tex
!/tesi/capitolo4.tex
!/tesi/entropy.bib
!/tesi/introduzione.tex
!/tesi/cherubino.jpg
!/tesi/unipitesi.sty
!/tesi/tesi.tex

!/sunto
!/sunto/sunto.tex
!/sunto/entropy.bib

!/slides
!/slides/slides.tex
